# env variables
.env


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# pg data storing data for docker postgres container
.pg_data

# Distribution / packaging
build/
develop-eggs/
eggs/
.eggs/
*.egg-info/
*.egg
dist/

# pyenv
.python-version


# Web grab specific
WebGrab++.config.xml
WebGrab++.log.txt
WGLicense.log.txt
guide.xml
robots/
*.robots

# mac specific
.DS_Store
